<div class="flex justify-between items-center mb-6">
  <h4 class="font-bold text-2xl"></h4>
  <button type="button" (click)="openModal()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2 ">
    Add
    Room
  </button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Manage Rooms
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Code
        </th>
        <th scope="col" class="px-6 py-3">
          Capacity
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Room type
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of rooms; track $index) {
      <tr [class.bg-gray-200]="item.isDeleted" [class.bg-white]="!item.isDeleted" class="border-b dark:bg-gray-800 dark:border-gray-700">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{item.name}}
        </td>
        <td class="px-6 py-4">
          {{item.code}}
        </td>
        <td class="px-6 py-4">
          {{item.capacity}}
        </td>
        <td class="px-6 py-4">
          {{item.description}}
        </td>
        <td class="px-6 py-4">
          {{roomTypeToString(item.roomType)}}
        </td>
        <td class="px-6 py-4 text-right">
          @if(!item.isDeleted){
            <button type="button" (click)="item.id && loadRoom(item)"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">
              Edit
            </button>
            <button type="button" (click)="item.id && deleteRoom(item.id)"
                    class="font-medium text-red-600 dark:text-red-500 hover:underline">
              Delete
            </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>


<app-modal [isOpen]="isModalOpen" (closeModel)="closeModal()">
  <app-room-form (onCloseModal)="closeModal()" [data]="room"></app-room-form>
</app-modal>
