<div class="container mx-auto py-8">
  <div class="text-center">
    <h2 class="text-3xl font-semibold mb-4">Welcome to Angular Hotel - Lux Dashboard</h2>
    <p class="text-lg text-gray-700">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae metus
      quis magna gravida imperdiet. Sed fringilla luctus urna, nec posuere purus ultrices eget. Integer non
      lacinia nulla, sed egestas odio. Quisque tristique neque in justo tempus, non fermentum neque
      tincidunt. Cras aliquet diam nec rhoncus dapibus. Nullam hendrerit urna id sem ullamcorper, a pulvinar
      risus consectetur. Nullam tempus pharetra diam, vitae pellentesque quam hendrerit ut. Praesent non
      venenatis libero.
    </p>
  </div>
</div>
