<div class="container mx-auto py-8">
  <div class="text-center">
    <h2 class="text-3xl font-semibold mb-4">Contact Me</h2>
    <p class="text-lg text-gray-700 mb-6">Feel free to reach out to me via LinkedIn or GitHub:</p>
    <div class="flex justify-center space-x-4">
      <!-- LinkedIn Link -->
      <a href="https://linkedin.com/in/milan-mitrovic-7a9412183" target="_blank"
         class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition duration-300">LinkedIn</a>
      <!-- GitHub Link -->
      <a href="https://github.com/milance139" target="_blank"
         class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900 transition duration-300">GitHub</a>
    </div>
    <!-- About Me -->
    <div class="mt-8">
      <h3 class="text-2xl font-semibold mb-4">About Me</h3>
      <p class="text-lg text-gray-700">
        Hello there! I'm an Angular and .NET developer extraordinaire. With a
        passion for clean code and elegant solutions, I tackle every project with enthusiasm and a touch of
        humor. I believe that software development is both an art and a science, and I strive to create
        applications that not only work flawlessly but also bring joy to their users. When I'm not coding,
        you can find me exploring new coffee shops or playing volleyball. Let's build something
        amazing together!
      </p>
    </div>
  </div>
</div>
